@font-face {
	font-family: 'Bernard';
	src: url('../fonts/Bernard.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'downcomeregular';
  src: url('../fonts/Downcome/Downcome.eot');
  src: url('../fonts/Downcome/Downcome.woff2') format('woff2'),
       url('../fonts/Downcome/Downcome.woff') format('woff'),
       url('../fonts/Downcome/Downcome.ttf') format('truetype'),
       url('../fonts/Downcome/Downcome.otf') format('otf');
  font-weight: normal;
  font-style: normal;

}